<p>signals works!</p>

<!-- <h1>{{count}}</h1>
<h1>{{x()}}</h1> -->

<!-- <button (click)="this.x.set(this.x()+2)">Increase count</button> -->
<!-- <button (click)="increase()">Increase count</button> -->


<!-- <button (click)="this.x.set(this.x()+1)">Increase</button>
<button (click)="this.x.set(this.x()-1)">Decrease</button> -->

<!-- <button (click)="changeVal('inc')">Increase</button>
<button (click)="changeVal('des')">Decrease</button> -->


<!-- <h1>{{data()}}</h1>
<h1>{{count()}}</h1>
<button (click)="updateData()">Click</button> -->



<!-- Computed Signals -->

<h1>{{count()}}</h1>

<button (click)="handleChange()">Click</button>